html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input:focus, input.form-control:focus {
    outline:none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}



.title-service{
    margin-top: 50px;
    margin-bottom: 20px;
}

.col-select{
    width: 450px !important;
}

.col-date{
    width: 140px !important;
}

.col-btn{
    width: 50px !important;
}

.footer{
    height: 30px;
    background-color: #444;
    /*margin-top:50px;*/
}


.table{
    margin-bottom: 30px;
}

.thumbnail{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #444;
    position: relative;
    background-position: center center;
    background-size: cover;
}

.thumbnail-btn{
    height: 200px;
    width: 200px;
    background: #444;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    padding-top: 40%;
}

.thumbnail-btn:hover{
    opacity: 0.9;
}

.searchField{
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa-info-circle{
    font-size: 26px;
}

.fa-users,
.fa-briefcase,
.fa-chart-pie,
.fa-calendar-alt,
.fa-sign-out-alt{
    font-size: 32px;
    margin: 0 10px;
}

.center{
    text-align: center;
}

.container-fluid{
    min-height: 75vh;
}

.btn-outline-secondary{
    border: 1px solid #ccc;
}

.login-card{
    width: 300px;
    margin: 0 auto;
}

.login-container{
    position: relative;
    width: 100%;
    top:0;
    padding-top: 50px;
    height: 120vh;
    background: url("/assets/img/login_background.jpg") fixed no-repeat, center center;
    background-size: cover;
}

.card-header{
 text-align: center;
    background-color: white;
    border: none;
}

.card-header img{
    width: 150px;
}

.card-body{
    padding-top: 0;
}

.login-label{
    color: #666666;
    font-weight: bold;
}

.login-card2{
    margin-top: 20px;
}

.change-pass{
    float: right;
    cursor: pointer;
}

#changePassword{
    display: none;
}

.text-left{
    float: left;
    color: #666666;
}